/* Add variables here */
/* Colors */
/* Reset settings and base styling for browsers */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: "", sans-serif;
  min-height: 100vh; }

/* Add styling for typography */
/* Add utility class here */
/* Styling for components */
